stepfunctions_eventbridge_dynamodb/files/state_machine.json
{
    "StartAt": "DynamoDB PutItem",
    "States": {
        "DynamoDB PutItem": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
                "TableName": "${dynamodb_table_name}",
                "Item": {
                    "eventId": {
                        "S.$": "$.id"
                    }
                },
                "ConditionExpression": "attribute_not_exists(eventId)"
            },
            "Next": "NotifyStart",
            "Catch": [
                {
                    "ErrorEquals": [
                        "DynamoDB.ConditionalCheckFailedException"
                    ],
                    "Next": "NotifyEnd",
                    "ResultPath": "$.put_item_result"
                },
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "Next": "NotifyEnd",
                    "ResultPath": "$.put_item_result"
                }
            ],
            "ResultPath": "$.put_item_result"
        },
        "NotifyStart": {
            "Type": "Task",
            "Resource": "${aws_lambda_function_slack_notify}",
            "Next": "Preprocess"
        },
        "NotifyEnd": {
            "Type": "Task",
            "Resource": "${aws_lambda_function_slack_notify}",
            "End": true
        },
        "Preprocess": {
            "Type": "Task",
            "Resource": "${aws_lambda_function_preprocess}",
            "Next": "Do Something"
        },
        "Do Something": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "NotifyEnd"
        }
    }
}